:root {
  --font-family-color: #212121;
  --btn-color: #ffffff;
  --btn-br-color: #2196f3;
  --hero-title-color: #fff;
  --mine-title-color: #212121;
  --mine-color-text: #212121;
  --second-color-text: #757575;
  --accent-color: #2196f3;
  --mine-br-color: #ffffff;
  --second-br-color: #2f303a;
  --third-br-color: #e5e5e5;
  --border-solid-color: #ececec;
  --btn-color-blak: #212121;
  --typical-margin: 20px;
  --typical-secon-margine: 30px;
  --icon-color: #afb1b8;
  --second-icon-color: #ffffff;
  --third-icon-color: #212121;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --second-title-color: #ffffff;
  ---transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-family-color);
}

/* -------------------------------------RESET------------------------------------ */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background: var(--btn-br-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  widows: 200px;
  padding: 12px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--btn-color);
  background-color: var(--btn-br-color);
  margin: 0 auto;
  display: flex;
  border: none;
  transition: background var(---transition-hover), box-shadow var(---transition-hover);
}
.button:hover, .button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button--margin-top {
  margin-top: 30px;
}

.social__list {
  display: flex;
  margin-top: var(--typical-margin);
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link--bg-darck {
  background: rgba(255, 255, 255, 0.1);
}

.social__link--bg-light {
  background-color: var(--btn-color);
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(---transition-hover);
}
.social__link:hover, .social__link:focus {
  background-color: var(--btn-br-color);
}

.social__icon--light {
  fill: var(--second-icon-color);
}

.social__icon--dark {
  fill: var(--icon-color);
}

.social__icon {
  transition: fill var(---transition-hover);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--btn-color);
}

.logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    line-height: 1.19;
  }
}

.logo--margin-right {
  margin-right: 88px;
}
@media screen and (min-width: 768px) {
  .logo--margin-right {
    margin-right: 93px;
  }
}

.logo--darck {
  color: var(--mine-title-color);
}

.logo--margine-bottom {
  margin-bottom: var(--typical-margin);
}

.logo--light {
  color: #ffffff;
}

.header {
  border-bottom: 1px solid var(--border-solid-color);
  background: var(--mine-br-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.header .nav__link {
  color: var(--mine-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color var(---transition-hover);
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.nav__list .current {
  color: var(--accent-color);
}

.contacts {
  display: none;
  flex-direction: column;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    row-gap: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .contacts {
    align-items: baseline;
    margin-top: 23px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    column-gap: 30px;
    flex-direction: row;
  }
}

.nav {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mine-title-color);
  background-color: var(--mine-br-color);
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
}

.contacts__mail,
.contacts__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  transition: color var(---transition-hover);
}
.contacts__mail:hover, .contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts__mail,
.contacts__tel {
    padding: 32px 0;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.contacts__item .contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--mine-br-color);
  transform: translateX(100%);
  transition: transform var(---transition-hover);
}
.menu-container.is-open {
  transform: translateX(0%);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-toggle {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu__soc-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  max-width: 100%;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  /* flex-grow: 1; */
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-img-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-img-x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    max-width: 1600px;
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-x2.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.specifics {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .specifics {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.specifics .specifics__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specifics__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .specifics__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specifics__item {
    width: calc((100% - 90px) / 4);
  }
}

.svg-wrap {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.specifics__svg {
  width: 70px;
  height: 70px;
}

.specifics__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mine-color-text);
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .specifics__title {
    text-align: start;
  }
}

.specifics__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mine-color-text);
  margin-bottom: 50px;
}
.about .about__list {
  display: flex;
  align-items: center;
}
.about .about__item + .about__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}
.about__top-wrap {
  position: relative;
}
.about__top-text {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--second-title-color);
  padding: 27px 0px;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team .team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team .team__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mine-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team__wrap {
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title-bottom {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mine-color-text);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color-text);
  margin-bottom: 16px;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mine-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.client__list > .client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__list > .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__list > .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(---transition-hover);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--btn-br-color);
}

.client__icon {
  fill: #afb1b8;
  transition: fill var(---transition-hover);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--btn-br-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.address__list .address__item + .address__item {
  margin-top: 9px;
}

.address__location {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__email,
.address__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.join {
  margin-left: 70px;
}

.join__title,
.subscribe__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.subscribe {
  margin-left: 70px;
}

.subscribe__wrap {
  display: flex;
  margin-top: var(--typical-margin);
}

.subscribe__email-input {
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding: 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__email-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__icon {
  margin-left: 12px;
}

.filter {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
.filter .filter__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .filter .filter__list {
    align-items: center;
    justify-content: center;
  }
}

.filter__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--btn-color-blak);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: background var(---transition-hover), color var(---transition-hover), box-shadow var(---transition-hover);
}
.filter__btn:hover, .filter__btn:focus {
  background: var(--btn-br-color);
  color: var(--btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-bottom: 94px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: block;
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(---transition-hover);
}

.portfolio__top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__hover-text {
  position: absolute;
  top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  color: var(--hero-title-color);
  background: rgba(33, 150, 243, 0.9);
}
.portfolio__link:hover .portfolio__hover-text, .portfolio__link:focus .portfolio__hover-text {
  transform: translateY(0%);
}

.portfolio__title-text {
  padding: 20px 24px;
  border-left: 1px solid var(--border-solid-color);
  border-right: 1px solid var(--border-solid-color);
  border-bottom: 1px solid var(--border-solid-color);
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--mine-color-text);
}

.portfolio__text {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  /* width: 1600px;
  height: 1024px; */
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility var(---transition-hover), opacity var(---transition-hover);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1) rotateX(90deg);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotateZ(0);
  transition: transform var(---transition-hover);
  background: var(--mine-br-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn-icon {
  transition: fill var(---transition-hover);
}

.modal__btn-close:hover .modal__btn-icon,
.modal__btn-close:focus .modal__btn-icon {
  fill: var(--btn-br-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mine-title-color);
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.input__wrap {
  position: relative;
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color-text);
  margin-bottom: 4px;
}

.modal__input {
  position: relative;
  width: 100%;
  height: 40px;
  /* margin-bottom: 14px; */
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(---transition-hover);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--accent-color);
}

/* input-icon */
.input__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--third-icon-color);
  transform: translateY(-50%);
  transition: fill var(---transition-hover);
}
.modal__input:focus-within ~ .input__icon {
  fill: var(--accent-color);
}

.textarea__text {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}
.textarea__text::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.privacy__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  display: flex;
  align-items: center;
}
.privacy__text::before {
  content: "";
  width: 16px;
  height: 14px;
  border: 2px solid var(--third-icon-color);
  border-radius: 3px;
  margin-right: 7px;
  transition: border-color var(---transition-hover);
}
.privacy__checkbox:checked + .privacy__text::before {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-image: url(../images/check.png);
}
.privacy__checkbox:focus + .privacy__text::before, .privacy__checkbox:hover + .privacy__text::before {
  border-color: var(--accent-color);
}

/* privacy__link */
.privacy__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 4px;
  color: var(--accent-color);
  display: inline-block;
  padding: 0px;
  line-height: initial;
  border-bottom: 1px solid var(--accent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */