.address__wrap,
.address__list,
.join,
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
        align-items: baseline;
    }
}

.address__list .address__item + .address__item {
    margin-top: 9px;
}

.address__location {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address__email,
.address__tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: block;
}
