.header {
    border-bottom: 1px solid var(--border-solid-color);
    background: var(--mine-br-color);
    .container {
        display: flex;
        align-items: center;
        // margin: 18px 0;
    }
    .nav__link {
        color: var(--mine-title-color);
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
        transition: color var(---transition-hover);
    }
}

.nav__list {
    @include flex;
    column-gap: 50px;
    .current {
        color: var(--accent-color);
    }
}

.contacts {
    display: none;
    flex-direction: column;
    margin-left: auto;

    @include tablet {
        display: flex;
        row-gap: 10px;
    }
    @media screen and (max-width: 1199px) {
        align-items: baseline;
        margin-top: 23px;
        margin-bottom: 18px;
    }
    @include desktop {
        column-gap: 30px;
        flex-direction: row;
    }
}

// .nav__list li:not(:last-child),
// .contacts li:not(:last-child) {
//     margin-right: 50px;
// }

.nav {
    display: none;

    @include font(500, 14px, 1.14, 0.02em);

    color: var(--mine-title-color);
    background-color: var(--mine-br-color);
    @include tablet {
        display: block;
    }
}

.nav__link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
}

.contacts__mail,
.contacts__tel {
    @include flex;

    @include font(500, 14px, 1.14, 0.02em);
    color: var(--second-color-text);

    transition: color var(---transition-hover);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    @include desktop {
        padding: 32px 0;
    }
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}

.contacts__item .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
    fill: currentColor;
}

.menu__close-btn {
    // border: none;
    background-color: red;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 767px) {
        display: none;
    }

    // position: absolute;
}
