.hero {
    max-width: 100%;
    margin: 0 auto;
    background-color: #2f303a;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-mobile-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 118px 0;
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero-mobile-img-x2.jpg);
    }

    @include tablet {
        max-width: 768px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero-tablet-img.jpg);
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url(../images/hero-tablet-img-x2.jpg);
        }
    }
    @include desktop {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/hero-img.jpg);
        max-width: 1600px;
        padding: 200px 0;
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url(../images/hero-img-x2.jpg);
        }
    }
    /* flex-grow: 1; */
}

.hero__title {
    @include font(900, 26px, 1.62, 0.06em);
    @include desktop {
        @include font(900, 44px, 1.36, 0.06em);
    }

    //

    color: var(--hero-title-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
