.portfolio__list {
}
.portfolio__link {
    display: block;
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow var(---transition-hover);
    }
}

.portfolio__top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio__hover-text {
    position: absolute;
    top: 0;

    font-style: normal;
    @include font(400, 18px, 1.56, 0.03em);

    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;

    color: var(--hero-title-color);
    background: rgba(33, 150, 243, 0.9);
    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0%);
    }
}

.portfolio__title-text {
    padding: 20px 24px;
    border-left: 1px solid var(--border-solid-color);
    border-right: 1px solid var(--border-solid-color);
    border-bottom: 1px solid var(--border-solid-color);
}

.portfolio__title {
    margin-bottom: 4px;
    @include font(700, 18px, 2, 0.06em);
    color: var(--mine-color-text);
}
.portfolio__text {
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}
