.subscribe {
    // margin-bottom: 60px;
    // margin: 0;
    @include desktop {
        margin-left: auto;
        // margin-left: 70px;
        // margin-top: 0px;
    }
}

.subscribe__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: var(--typical-margin);
    @include desktop {
        align-items: baseline;
        flex-direction: row;
    }
}

.subscribe__email-input {
    height: 50px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    margin-bottom: 20px;
    padding: 16px;

    width: 358px;
    height: 50px;

    @include font(null, 16px, 1.25, 0.03em);

    @include flex;

    color: rgba(255, 255, 255, 0.6);
    &::placeholder {
        font-family: "Roboto";
        font-style: normal;
        @include font(400, 16px, 1.25, 0.03em);

        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.6);
    }
    @include desktop {
        margin-bottom: 0;
    }
}

.subscribe__icon {
    margin-left: 12px;
}
