.specifics {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-top: 94px;
        padding-bottom: 0;
    }
    .specifics__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.specifics__item {
    width: 100%;
    @include tablet {
        width: calc((100% - 30px) / 2);
    }
    @include desktop {
        width: calc((100% - 90px) / 4);
    }
}

.svg-wrap {
    height: 120px;
    @include flex;
    justify-content: center;

    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.specifics__svg {
    width: 70px;
    height: 70px;
}

.specifics__title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--mine-color-text);
    text-align: center;
    @include tablet {
        text-align: start;
    }
    margin-bottom: 10px;
}

.specifics__text {
    @include font(null, 14px, 1.71, 0.03em);

    color: var(--second-color-text);
}
