.team {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    background-color: #f5f4fa;
    .team__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .team__item {
        width: 100%;
        @include tablet {
            width: calc((100% - 30px) / 2);
        }
        @include desktop {
            width: calc((100% - 90px) / 4);
        }
    }
}

.team__title {
    @include font(700, 28px, 1.29, 0.03em);

    text-align: center;
    color: var(--mine-title-color);
    margin-bottom: 30px;
    @include desktop {
        @include font(700, 36px, 1.16, 0.03em);
        margin-bottom: 50px;
    }
}

.team__wrap {
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__title-bottom {
    @include font(500, 16px, 1.19, 0.03em);
    text-align: center;
    color: var(--mine-color-text);
    margin-bottom: 10px;
}
.team__text {
    @include font(null, 16px, 1.19, 0.03em);

    text-align: center;
    color: var(--second-color-text);
    margin-bottom: 16px;
}
