.logo {
    display: block;
    font-family: "Raleway";
    @include font(700, 26px, 1.19, 0.03em);

    color: var(--accent-color);
}

.logo--margin-right {
    margin-right: 93px;
}

.logo--darck {
    color: var(--mine-title-color);
}

.logo--margine-bottom {
    margin-bottom: var(--typical-margin);
}

.logo--light {
    color: #ffffff;
}
