body {
    font-family: "Roboto", sans-serif;
    color: var(--font-family-color);
}
/* -------------------------------------RESET------------------------------------ */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
