:root {
    --font-family-color: #212121;
    --btn-color: #ffffff;
    --btn-br-color: #2196f3;
    --hero-title-color: #fff;
    --mine-title-color: #212121;
    --mine-color-text: #212121;
    --second-color-text: #757575;
    --accent-color: #2196f3;
    --mine-br-color: #ffffff;
    --second-br-color: #2f303a;
    --third-br-color: #e5e5e5;
    --border-solid-color: #ececec;
    --btn-color-blak: #212121;
    --typical-margin: 20px;
    --typical-secon-margine: 30px;
    --icon-color: #afb1b8;
    --second-icon-color: #ffffff;
    --third-icon-color: #212121;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --second-title-color: #ffffff;
    --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
